@font-face {
    font-family: "sitefont";
    src: url("./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}


body {
    background-color: #ECF5FC;
    font-family: sitefont;
}

.topBar {
    justify-content: space-between;
    margin: 30px 150px;
    padding: 10px 16px; /*TOP BOTTOM === LEFT RIGHT*/
    border: 1px solid #D6E2F5;
    
    background-color: #FCFDFF;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 2px 3px 0px #D9E5F4;
    user-select: none; /*Disables highlighting of the moon*/

}

#darkMode {
    border-radius: 12px;
    border-color: white;
    background-color: #EEEEEE;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;

    user-select: none; /*Disables highlighting of the moon*/
}

#darkMode:hover {
    background-color: #bbbbbb;
    transition: 0.3s;
}

#darkMode:active {
    background-color: #535353;
    color: white;
}


.extensionList {
    padding: 5px;
    display: flex;
    user-select: none; /*Disables highlighting of the moon*/
    margin: 30px 150px;
    align-items: center;
    gap: 16px;
}

.extensionList h2 {
    margin-right: auto;
    font-weight: 700;
    font-size: 34px;
    color: #091540;
}

.button-ext {
    color: #091540;
    font-family: sitefont;
    border-radius: 999px;
    background-color: #ffffff;
    padding: 8px 23px;
    box-shadow: 0px 2px 3px 0px #D9E5F4;
    font-weight: 400;
    font-size: 20px;    
    /*Display props*/
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;

}


.button-ext:active {
    color: white;
    background-color: #C7231A;
    
}

.button-ext:hover {
    transition: 0.3s;
    background-color: #C7231A;
    color: white;
}


.extension-items {
    display:grid;
    gap: 30px;
    margin: 30px 150px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.extension-card {

}

.extension-card img {

}

.extension-card h3 {

}

.extension-card p {

}






.attribution { 
    font-size: 11px; text-align: center; 
}


.attribution a {
    color: hsl(228, 45%, 44%); 
}
